* {
    margin: 0;
    padding: 0;
}

.container {
    width: 600px;
    /* height: 600px; */
    justify-content: center;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    /* background-color: gray; */
  }

.box {
    height: 250px;
    flex-basis: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 1px 1px 1px black;
    border: 5px solid gray;
}

#box_tl {
    border-top: 10px solid gray;
    border-left: 10px solid gray;
}

#box_tr {
    border-top: 10px solid gray;
    border-right: 10px solid gray;
}

#box_bl {
    border-bottom: 10px solid gray;
    border-left: 10px solid gray;
}

#box_br {
    border-bottom: 10px solid gray;
    border-right: 10px solid gray;
}


.red_border{
    
}